<div id="level_no" class="material-icons mdl-badge"><i class="material-icons">filter_{{ include.goal.level }}</i></div>
<div class="mdl-tooltip" data-mdl-for="level_no">Level</div>

<div id="team_size" class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ include.goal.team_size }}">people</div>
<div class="mdl-tooltip" data-mdl-for="team_size">Team Size</div>

<!-- This computed XP Value should match the Goal#xp_value in lib/goal.rb -->
<!-- &nbsp; -->
<!-- <span id="xp_value">{{ 50 | times: include.goal.level | times: include.goal.team_size }} XP</span>
<div class="mdl-tooltip" data-mdl-for="xp_value">XP Value</div> -->
