<header class="mdl-layout__header">
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title">{{ site.title }}</span>
    <div class="mdl-layout-spacer"></div>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link" href="{{ site.url }}{% link project-ideas.md %}">
        Project Ideas
      </a>
      <a class="mdl-navigation__link" href="{{ site.url }}{% link resources.md %}">
        Resources
      </a>
      <!-- <a class="mdl-navigation__link" href="https://github.com/GuildCrafts/web-development-js/issues/new?title=My%20Goal%20Idea&labels=goal-idea">
        <button class="mdl-button mdl-js-button">
          Suggest a Goal
        </button>
      </a> -->
    </nav>
  </div>
</header>
