{% if include.level_no == '1' %}
<div class="mdl-tabs__panel is-active" id="level-{{include.level_no}}">
{% else %}
<div class="mdl-tabs__panel" id="level-{{include.level_no}}">
{% endif %}

  <table class="mdl-cell mdl-cell--12-col mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>ID</th>
        <th class="mdl-data-table__cell--non-numeric">Title</th>
        <th class="mdl-data-table__cell--non-numeric">Labels</th>
        <th>Team Size</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% for goal in include.goals %}
      <tr>
        <td>{{goal.issueNumber}}</td>
        <td class="mdl-data-table__cell--non-numeric">{{ goal.title }}</td>
        <td class="mdl-data-table__cell--non-numeric">
          {% for label in goal.labels %}
          <span class="mdl-chip"><span class="mdl-chip__text">{{ label }}</span></span>
          {% endfor %}
        <td>{{ goal.teamSize }}</td>
        <td><a href="{{goal.url}}"><i class="material-icons">open_in_new</i></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</div>
