---
layout: default
---

<div class="custom-goal-page mdl-card mdl-cell mdl-cell--12-col">
  <div class="mdl-card__title">
    <h2 class="mdl-card__title-text">{{ page.title }}</h2>
    <div class="mdl-layout-spacer"></div>

    <div id="level_no" class="material-icons mdl-badge"><i class="material-icons">filter_{{ page.level }}</i></div>
    <div class="mdl-tooltip" data-mdl-for="level_no">Level</div>

    <div id="team_size" class="material-icons mdl-badge mdl-badge--overlap" data-badge="{{ page.team_size }}">people</div>
    <div class="mdl-tooltip" data-mdl-for="team_size">Team Size</div>
  </div>

  <div class="mdl-card__actions mdl-card--border">
    <span>Goal #{{page.goal_id}} |
      <a href="https://www.github.com/{{ site.github_org }}/{{ site.github_repo }}/tree/master/{{ page.path }}">Source File</a></span>
    &nbsp;

    {% for label in page.labels %}
      <span class="mdl-chip">
        <span class="mdl-chip__text">{{ label }}</span>
      </span>
    {% endfor %}

    <div class="mdl-layout-spacer"></div>
    {% for author in page.authors %}
      <span id="author-{{author}}" class="mdl-chip mdl-chip--contact">
        <img class="mdl-chip__contact" src="https://avatars.githubusercontent.com/{{ author }}?size=32">
        <span class="mdl-chip__text">{{ author }}</span>
      </span>
      <div class="mdl-tooltip" data-mdl-for="author-{{raw_handle}}">Goal Author</div>
    {% endfor %}
  </div>
  <div class="custom-content custom-hide-h1 mdl-card__supporting-text mdl-card--border">

    {{ content | replace: '<li>[ ]',
        '<li class="box task-list-item">
         <input type="checkbox" class="task-list-item-checkbox">' |
    replace: '<li>[x]',
        '<li class="box_done task-list-item">
        <input type="checkbox" class="task-list-item-checkbox" value="on" checked>'  }}

  </div>
</div>
